CodernityDB
click
decorator
gevent
wheel
pyyaml
https://github.com/ethereum/pyrlp/tarball/develop
https://github.com/ethereum/pydevp2p/tarball/master
https://github.com/ethereum/pyethereum/tarball/develop
